<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="consult.consult.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="consult.consult.entity.Test">
    <result column="test" jdbcType="VARCHAR" property="test" />
  </resultMap>
  <insert id="insert" parameterType="cn.edu.ustb.consult.entity.Test">
    insert into test (test)
    values (#{test,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.ustb.consult.entity.Test">
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="test != null">
        test,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="test != null">
        #{test,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>